# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
.venv/
env/
venv/

# VSCode settings (optional)
.vscode/

# Distribution / packaging (optional if you're not packaging yet)
*.egg
*.egg-info/
dist/
build/

# Backup / log / temp files / AHK
*.log
*.bak
*.tmp
# *.ahk

# OS junk
.DS_Store
Thumbs.db
