# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo

# Virtual environment (you might name it .venv, venv, env, etc.)
.venv/
env/
venv/

# VSCode settings (optional)
.vscode/

# Backup / log / temp files / AHK
*.log
*.bak
*.tmp
# *.ahk

# OS stuff
.DS_Store
Thumbs.db
